.box2 {
    border: 0.1px solid black; margin: 2px; height: 40px; width: 44px; float: left; text-size-adjust: 20px;
}

.lines2 {
    margin: 1px; height: 47px;
}

.body-boxes2 {
    margin-left: 80vw;
    height: 100px;
}