.box2 {
    border: 0.1px solid black; 
    margin: 3px; 
    height: 40px; width: 40px; 
    float: left; 
    text-size-adjust: 20px; 
}

.lines2 {
    margin: 1px; height: 5vh;
}

.body-boxes2 {
    overflow: hidden;
    width: 230px;
    margin-top: 5vh;
    transform: translateX(10vh);
}