.body-boxes {
  overflow: hidden;
  width: 27vw;
  min-width: 250px;
  /* border: 1px solid black; */
  margin-top: 2vh;
  margin-left: 3vw;

}

.lines {
  margin: 2px;
  height: 12vh;
}

.box {
  border: 0.1px solid black;
  margin: 4px;
  height: 9vh;
  width: 4.5vw;
  min-width: 40px;
  min-height: 40px;
  float: left;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  vertical-align: top;
  font-weight: 900;
  font-size: 25px;
}
