.box2 {
    border: 0.1px solid black; 
    margin: 3px; 
    height: 6vh; width: 3vw; 
    min-width: 30px;
    min-height: 30px;
    float: left; 
    text-size-adjust: 20px; 
}

.lines2 {
    margin: 1px; height: 5vh;
}

.body-boxes2 {
    overflow: hidden;
    width: 19vw;
    min-width: 180px;
    transform: translateY(-10vh);
}